*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Overpass", sans-serif;
}
:root{
    --orange: hsl(25, 97%, 53%);
    --text-light-grey: hsl(217, 12%, 63%);
    --text-medium-grey: hsl(216, 12%, 54%);
    --bg-dark-blue: hsl(213, 28%, 14%);
    --bg-dark-grey: hsla(210, 8%, 20%, 0.75);
    --bg-very-dark-blue: hsl(216, 12%, 8%);
}
img{
    display: block;
    width: 100%;
    height: auto;
}
ul{
    list-style-type: none;
}