body{
    background-color: var(--bg-very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--text-medium-grey);
    font-size: 18px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: var(--bg-dark-blue);
    padding: 30px;
    border-radius: 30px;
    width: 450px;
    height: 450px;
    position: absolute;
}
.front-face{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
.image{
    background-color: var(--bg-dark-grey);
    border-radius: 50%;
    width: 50px;
    padding: 15px;
}
.text{
    text-align: justify;
}
.text h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
ul li{
    background-color: var(--bg-dark-grey);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease-out;
}
label{
    font-size: 1.6rem;
    text-align: center;
}
input{
    appearance: none;
}
.hover-effect:hover{
    color: #fff;
    background-color: var(--orange);
    cursor: pointer;
}
button{
    background-color: var(--orange);
    border: none;
    border-radius: 50px;
    width: 100%;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    transition: 0.25s ease-out;
    font-size: 16px;
}
button:hover{
    background-color: #fff;
    color: var(--orange);
    cursor: pointer;
}
.back-face{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    opacity: 0;
    transition: 0.5s ease-in-out;
}
.top-section img{
    width: 60%;
}
.message{
    background-color: var(--bg-dark-grey);
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 0.9rem;
    color: var(--orange);
    margin-top: 20px;
}
.top-section, .bot-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.bot-section h1{
    color: #fff;
}
.front{
    opacity: 1;
    z-index: 2;
}
.selected{
    background-color: var(--text-light-grey);
    color: #fff;
}