body{
    background-color: #ffeabe;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 5px;
    max-width: 720px;
    max-height: 540px;
    overflow: hidden;
}

.product-image{
    grid-column: 1;
    display: flex;
}
img{
    max-width: 100%;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}
.category{
    letter-spacing: 0.4rem;
    font-size: 1.4rem;
}
.fraunces-font{
    font-family: "Fraunces", serif;
    font-weight: 700;
}
h1{
    font-size: 3.6rem;
    max-width: 70%;
}
.description{
    align-self: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.price{
    display: flex;
    align-items: center;
}
.price p:first-child{
    color: hsl(158, 36%, 37%);
    font-size: 3.6rem;
}
.price p:last-child{
    margin-left: 1.4rem;
    text-decoration: line-through;
    font-size: 1.6rem;
}
button{
    border-style: none;
    background-color: hsl(158, 36%, 37%);
    border-radius: 5px;
    color: #ffffff;
    padding: 1.5rem;
    font-size: 2rem;
}
button img{
    max-height: 2.4rem;
    margin-right: 0.8rem;
}
button:hover{
    background-color: hsl(124, 21%, 14%);
    cursor: pointer;
}