body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    overflow: hidden;
    max-width: 1080px;
    min-height: 480px;
}
.category{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
img{
    width: 64px;
}
.sedans{
    background-color: var(--bg-color-orange);
}
.sedans a{
    color: var(--bg-color-orange);
}
.suvs{
    background-color: var(--bg-color-cyan);
}
.suvs a{
    color: var(--bg-color-cyan);
}
.luxury{
    background-color: var(--bg-color-dark-cyan);
}
.luxury a{
    color: var(--bg-color-dark-cyan);
}
h1{
    text-transform: uppercase;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--bg-light-grey);
    margin: 20px 0;
}
p{
    margin-bottom: 80px;
}
a{
    border: 2px solid #fff;
    border-radius: 20px;
    background-color: #fff;
    align-self: flex-start;
    padding: 10px 30px;
}
a:hover{
    background-color: transparent;
    color: var(--bg-light-grey);
}