*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Outfit", sans-serif;
    color: var(--main-text-color);
}
img{
    display: block;
}
a{
    text-decoration: none;
    color: var(--main-text-color);
}
ul{
    list-style-type: none;
}