:root {
    --main-bg-color: #210136;
    --container-bg-color: hsla(0, 0%, 100%, 0.5);
    --header-bg-color: hsla(0, 0%, 100%, 0.65);
    --main-card-color: #fff;
    --main-text-color: #000000;
    --hl-text-color: #7a11aa;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background: var(--main-bg-color) url(../image/space-background.jpg) center/cover no-repeat scroll;
}

.container {
    width: 1440px;
    min-height: 100vh;
    background-color: var(--container-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 80px;
    margin: 40px 20px;
    overflow: hidden;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--header-bg-color);
    padding: 20px;
}
.header h1{
    align-self: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.header p{
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
}
.link-github, .link-portfolio{
    display: inline;
    margin-right: 100px;
    font-size: 1.2rem;
    color: #000000;
}
.link-github:hover, .link-portfolio:hover{
    cursor: pointer;
    color: hsl(258, 100%, 50%);
}
.tools-selector{
    position: absolute;
    bottom: 20px;
    align-self: flex-end;
}

.grid-display {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    justify-items: center;
    grid-gap: 50px 0;
}
.project-card {
    background-color: var(--main-card-color);
    width: 350px;
    min-height: 450px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    box-shadow: 20px 20px 30px hsla(0, 0%, 0%, 0.7);
}
.project-card > a {
    position: relative;
    cursor: pointer;
    background-color: #000000;
}
.project-card > a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(hsla(0, 0%, 75%, 0.10) 60%, hsla(0, 0%, 75%, 0.25));
}
#proj-img {
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding: 0 10px 10px;
}
.info h2 {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: var(--main-text-color);
    margin: 5px 0;
    transition: 0.10s;
}
.info h2:hover {
    color: var(--hl-text-color);
    font-weight: 800;
}
.tools, .tools ul {
    display: flex;
    align-items: center;
    gap: 10px;
}
.tools li i, .tools li img{
    font-size: 2.3rem;
    height: 2.3rem;
}
#challenge {
    font-size: 1rem;
}
#description {
    flex: 1;
    font-size: 1.3rem;
}
/* Class to remove "::before" on JS */
.no-before::before {
    display: none;
}
/* Class to display "tool" on JS */
.display-none{
    display: none;
}